<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNq0ay6Mk90dMxvSq4duNKefT-HCvW73c</string>
	<key>GCM_SENDER_ID</key>
	<string>846663676209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shahlathasni3.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-d9f87</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-d9f87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846663676209:ios:29fe4e8cf5ac60f3744010</string>
</dict>
</plist>